/***** Fonts *****/
/***** External Libraries *****/
/***** Gobals *****/
/****************
** HTML COLORS **
****************/
/***********************
** FLAT DESIGN COLORS **
***********************/
/***************************
** MATERIAL DESIGN COLORS **
***************************/
/********************
** WEB SAFE COLORS **
********************/
/***** Themes *****/
#tablero main {
  padding-top: 60px;
  margin-left: 70px;
}
#tablero #barra-de-navegacion {
  position: absolute;
  padding-top: 60px;
  width: 70px;
  height: 100vh;
  background-color: #FFFFFF;
  border-right: #EEEEEE 3px solid;
}
#tablero #barra-de-navegacion > a,
#tablero #barra-de-navegacion > .desplegable {
  position: relative;
  display: block;
  border-bottom: #EEEEEE 2px solid;
  padding: 15px 20px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
#tablero #barra-de-navegacion > a > i,
#tablero #barra-de-navegacion > .desplegable > i {
  position: relative;
  margin-right: 10px;
}
#tablero #barra-de-navegacion > a > span,
#tablero #barra-de-navegacion > .desplegable > span {
  position: relative;
  display: none;
}
#tablero #barra-de-navegacion > a:hover,
#tablero #barra-de-navegacion > .desplegable:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}
#tablero #barra-de-navegacion > .desplegable:after {
  position: absolute;
  right: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0;
  content: "";
  border-top: 0.4em solid transparent;
  border-right: 0;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  #tablero main {
    margin-left: 175px;
  }
  #tablero #barra-de-navegacion {
    width: 175px;
  }
  #tablero #barra-de-navegacion > a > i,
#tablero #barra-de-navegacion > .desplegable > i {
    display: none;
  }
  #tablero #barra-de-navegacion > a > span,
#tablero #barra-de-navegacion > .desplegable > span {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #tablero main {
    margin-left: 200px;
  }
  #tablero #barra-de-navegacion {
    width: 200px;
  }
  #tablero #barra-de-navegacion > a > i,
#tablero #barra-de-navegacion > .desplegable > i {
    display: inline-block;
  }
  #tablero #barra-de-navegacion > a > span,
#tablero #barra-de-navegacion > .desplegable > span {
    display: inline-block;
  }
}
/***** Styles *****/
