/***** Fonts *****/
/***** External Libraries *****/
/***** Gobals *****/
/****************
** HTML COLORS **
****************/
/***********************
** FLAT DESIGN COLORS **
***********************/
/***************************
** MATERIAL DESIGN COLORS **
***************************/
/********************
** WEB SAFE COLORS **
********************/
/***** Themes *****/
#tablero #barra-de-control > .desplegable > .menu > a, #tablero #barra-de-control > a,
#tablero #barra-de-control > .desplegable {
  position: relative;
  display: block;
  border-bottom: #EEEEEE 2px solid;
  padding: 15px 20px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

#tablero #barra-de-control > #contenedor-de-alternador > #alternador, #tablero #barra-de-control > #contenedor-de-alternador > #alternador:after, #tablero #barra-de-control > #contenedor-de-alternador > #alternador:before {
  position: absolute;
  left: 3px;
  width: 34px;
  height: 3px;
  background-color: #555555;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#tablero #barra-de-control > #contenedor-de-alternador > #alternador:after, #tablero #barra-de-control > #contenedor-de-alternador > #alternador:before {
  content: "";
  left: 0;
}

#tablero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#tablero main {
  padding: 60px 15px 0;
  margin-left: 0;
  width: 100;
  height: 100%;
  overflow-y: scroll;
}
#tablero #barra-de-control {
  position: absolute;
  left: -70px;
  padding-top: 60px;
  width: 70px;
  height: 100vh;
  background-color: #FFFFFF;
  border-right: #EEEEEE 3px solid;
  z-index: 10;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
#tablero #barra-de-control > #contenedor-de-alternador {
  position: absolute;
  top: 60px;
  left: 125%;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
#tablero #barra-de-control > #contenedor-de-alternador > #alternador {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#tablero #barra-de-control > #contenedor-de-alternador > #alternador:before {
  top: -10px;
}
#tablero #barra-de-control > #contenedor-de-alternador > #alternador:after {
  top: 10px;
}
#tablero #barra-de-control > #contenedor-de-alternador > #alternador:hover {
  cursor: pointer;
}
#tablero #barra-de-control > #contenedor-de-alternador:hover {
  cursor: pointer;
}
#tablero #barra-de-control.expandido {
  left: 0;
}
#tablero #barra-de-control.expandido > #contenedor-de-alternador > #alternador {
  width: 0;
}
#tablero #barra-de-control.expandido > #contenedor-de-alternador > #alternador:before {
  top: 0;
  transform: rotate(-45deg);
}
#tablero #barra-de-control.expandido > #contenedor-de-alternador > #alternador:after {
  top: 0;
  transform: rotate(45deg);
}
#tablero #barra-de-control > a > i,
#tablero #barra-de-control > .desplegable > i {
  position: relative;
  margin-right: 10px;
}
#tablero #barra-de-control > a > span,
#tablero #barra-de-control > .desplegable > span {
  position: relative;
  display: none;
}
#tablero #barra-de-control > a:hover,
#tablero #barra-de-control > .desplegable:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}
#tablero #barra-de-control > .desplegable > .menu {
  position: absolute;
  left: calc(100% + 5px);
  background-color: #EEEEEE;
  top: 5px;
  white-space: nowrap;
  display: none;
}
#tablero #barra-de-control > .desplegable > .menu > a {
  border-bottom: #DDDDDD 2px solid;
  padding: 10px 20px;
  font-weight: normal;
}
#tablero #barra-de-control > .desplegable > .menu > a:hover {
  background-color: #DDDDDD;
  cursor: pointer;
}
#tablero #barra-de-control > .desplegable:after {
  position: absolute;
  right: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0;
  content: "";
  border-top: 0.4em solid transparent;
  border-right: 0;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#tablero #barra-de-control > .desplegable.activo {
  background-color: #EEEEEE;
}
#tablero #barra-de-control > .desplegable.activo > .menu {
  display: block;
}

@media only screen and (min-width: 576px) {
  #tablero main {
    margin-left: 70px;
  }
  #tablero #barra-de-control {
    left: 0;
  }
  #tablero #barra-de-control > #contenedor-de-alternador {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #tablero main {
    margin-left: 175px;
  }
  #tablero #barra-de-control {
    width: 175px;
  }
  #tablero #barra-de-control > a > i,
#tablero #barra-de-control > .desplegable > i {
    display: none;
  }
  #tablero #barra-de-control > a > span,
#tablero #barra-de-control > .desplegable > span {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  #tablero main {
    margin-left: 200px;
  }
  #tablero #barra-de-control {
    width: 200px;
  }
  #tablero #barra-de-control > a > i,
#tablero #barra-de-control > .desplegable > i {
    display: inline-block;
  }
  #tablero #barra-de-control > a > span,
#tablero #barra-de-control > .desplegable > span {
    display: inline-block;
  }
}
.titulo-de-pagina {
  text-align: center;
  padding: 25px 0 5px;
}

.pagination {
  display: flexbox;
  display: -ms-flexbox;
  flex-wrap: wrap;
}

.tabla-presionable tr:hover {
  cursor: pointer;
  background-color: #CCCCCC !important;
}

/***** Styles *****/
