$color-de-fondo-principal: $blanco;
$color-de-fondo-flotado: $claro;
$color-de-fondo-desplegable: $claro;
$color-de-bordes: $claro;
$color-de-bordes-de-desplegable: $sombra1;
$color-de-fondo-desplegable-flotado: $sombra1;

$anchor-de-barra: 70px;

%contenedorDeBotones{
    position: relative;
    display: block;
    border-bottom: $color-de-bordes 2px solid;
    padding: 15px 20px;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

#tablero{
    main{
        padding-top: 60px;
        margin-left: $anchor-de-barra;
    }

    #barra-de-control{
        position: absolute;
        padding-top: 60px;
        width: $anchor-de-barra;
        height: 100vh;
        background-color: $color-de-fondo-principal;
        border-right: $color-de-bordes 3px solid;

        >a,
        >.desplegable{
            @extend %contenedorDeBotones;

            >i{
                position: relative;
                margin-right: 10px;
            }

            >span{
                position: relative;
                display: none;
            }

            &:hover{
                background-color: $color-de-fondo-flotado;
                cursor: pointer;
            }
        }

        >.desplegable{
            >.menu{
                position: absolute;
                left: calc(100% + 5px);
                background-color: $color-de-fondo-desplegable;
                top: 5px;
                white-space: nowrap;
                display: none;

                >a{
                    @extend %contenedorDeBotones;
                    border-bottom: $color-de-bordes-de-desplegable 2px solid;
                    padding: 10px 20px;
                    font-weight: normal;

                    &:hover{
                        background-color: $color-de-fondo-desplegable-flotado;
                        cursor: pointer;
                    }
                }
            }

            &:after{
                position: absolute;
                right: 15px;
                @include mycaret(right);
                @include centerY;
            }

            &.activo{
                background-color: $color-de-fondo-flotado;

                >.menu{
                    display: block;
                }
            }
        }
    }
}

// Small Screen
@media only screen and (min-width: 576px){
    
}

// Medium Screen
@media only screen and (min-width: 768px){
    $anchor-de-barra: 175px;

    #tablero{
        main{
            margin-left: $anchor-de-barra;
        }

        #barra-de-control{
            width: $anchor-de-barra;

            >a,
            >.desplegable{
                >i{
                    display: none;
                }

                >span{
                    display: block;
                }
            }
        }
    }
}

// Large Screen
@media only screen and (min-width: 992px){
    $anchor-de-barra: 200px;

    #tablero{
        main{
            margin-left: $anchor-de-barra;
        }

        #barra-de-control{
            width: $anchor-de-barra;

            >a,
            >.desplegable{
                >i{
                    display: inline-block;
                }

                >span{
                    display: inline-block;
                }
            }
        }
    }
}

// Extra Large Screen
@media only screen and (min-width: 1200px){

}