$anchoDeBarra: 70px;

#tablero{
    main{
        padding-top: 60px;
        margin-left: $anchoDeBarra;
    }

    #barra-de-navegacion{
        position: absolute;
        padding-top: 60px;
        width: $anchoDeBarra;
        height: 100vh;
        background-color: $white;
        border-right: $light 3px solid;

        >a{
            position: relative;
            display: block;
            border-bottom: $light 2px solid;
            padding: 15px 20px;
            color: inherit;
            font-weight: bold;
            text-decoration: none;

            >i{
                position: relative;
                margin-right: 10px;
            }

            >span{
                position: relative;
                display: none;
            }

            &:hover{
                background-color: $light;
                cursor: pointer;
            }
        }
    }
}

// Small Screen
@media only screen and (min-width: 576px){
    
}

// Medium Screen
@media only screen and (min-width: 768px){
    $anchoDeBarra: 175px;

    #tablero{
        main{
            margin-left: $anchoDeBarra;
        }

        #barra-de-navegacion{
            width: $anchoDeBarra;

            >a{
                >i{
                    display: none;
                }

                >span{
                    display: block;
                }
            }
        }
    }
}

// Large Screen
@media only screen and (min-width: 992px){
    $anchoDeBarra: 200px;

    #tablero{
        main{
            margin-left: $anchoDeBarra;
        }

        #barra-de-navegacion{
            width: $anchoDeBarra;

            >a{
                >i{
                    display: inline-block;
                }

                >span{
                    display: inline-block;
                }
            }
        }
    }
}

// Extra Large Screen
@media only screen and (min-width: 1200px){

}